<!--Filters Modal-->
<div class="modal fade" id="filterFlashcardModal" tabindex="-1" aria-labelledby="filterFlashcard" aria-hidden="true"
    [ngClass]="{ 'modal-dark': !isLightTheme, 'modal-light': isLightTheme }">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter Flashcards</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Selector de Categoría -->
                <div class="mb-3">
                    <label class="form-label" for="categorySelect">Category:</label>
                    <select class="form-select rounded-pill" id="categorySelect" [(ngModel)]="selectedCategory">
                        <option value="" selected>Choose...</option>
                        <option *ngFor="let category of categories" [value]="category.category_name">
                            {{ category.category_name }}
                        </option>
                    </select>
                </div>

                <!-- Selector de Dificultad -->
                <div class="mb-3">
                    <label class="form-label" for="difficultySelect">Difficulty:</label>
                    <select class="form-select rounded-pill" id="difficultySelect" [(ngModel)]="selectedDifficulty">
                        <option value="" selected>Choose...</option>
                        <option value="easy">Easy</option>
                        <option value="medium">Intermediate</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill w-25" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary rounded-pill w-25" (click)="applyFilters()" data-bs-dismiss="modal">Filter</button>
            </div>
        </div>
    </div>
</div>