<div class="main-content">
  <nav class="navbar navbar-custom fixed-top"
    [ngClass]="{ 'navbar-dark': !isLightTheme, 'navbar-light': isLightTheme }">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap">
      <a class="navbar-brand fw-bold me-3" routerLink="">
  <i class="fas fa-home me-2"></i>
  <span class="d-none d-sm-inline">Home</span>
</a>
      <ul class="navbar-nav flex-row align-items-center me-auto">
        <li class="nav-item dropdown me-2">
          <button class="btn btn-outline-primary dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            Add Flashcards
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addFlashcardModal"><i
                  class="fas fa-plus"></i> Add Flashcard</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="fav-flashcards"><i class="fas fa-star"></i> Favorite</a></li>
            <li><a class="dropdown-item" routerLink="my-flashcards"><i class="fas fa-book"></i> My Flashcards</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav flex-row align-items-center">
        <li class="nav-item me-2">
         <button class="btn btn-theme-toggle" (click)="toggleTheme()">
            <i [class]="isLightTheme ? 'fas fa-moon' : 'fas fa-sun'"></i>
            <span class="d-none d-sm-inline">
              {{ isLightTheme ? 'Dark Theme' : 'Light Theme' }}
            </span>
          </button>
        </li>
        <li class="nav-item">
          <!-- Verificación de autenticación -->
          @if (!isLoggedIn) {
            <a href="#" class="btn p-0 rounded-circle" data-bs-toggle="modal" data-bs-target="#loginModal">
              <img src="/default-avatar.png" alt="img"
                style="width:40px; height:40px; border-radius: 50%; border:2px white solid;">
            </a>
          }@else if(isLoggedIn){
            <div class="dropdown2">
              <a href="#" class="btn dropdown2-toggle rounded-circle p-0" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                <div class="user-avatar" [ngStyle]="{'background-color': userBgColor}">
                  {{ userInitial }}
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li>
                  <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#porfileModal">
                    <i class="fas fa-user"></i> My Porfile
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signOutModal">
                    <i class="fas fa-sign-out-alt"></i> Sign Out
                  </a></li>
                <li><a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteAccountModal"><i
                      class="fas fa-trash"></i> Delete Account</a></li>
              </ul>
            </div>
          }
        </li>
      </ul>
    </div>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-add-card-modal></app-add-card-modal>
  <app-auth-modal></app-auth-modal>
  <app-user-modal></app-user-modal>
</div>