
<div class="main-content" >

   <nav class="navbar navbar-expand-lg navbar-custom fixed-top" [ngClass]="{ 'navbar-dark': !isLightTheme, 'navbar-light': isLightTheme }"
  >
  <div class="container-fluid">

    <a class="navbar-brand fw-bold" routerLink="">
      <i class="fas fa-home me-2"></i>Home
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle rounded-pill" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            Add Flashcards
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      
            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addFlashcardModal">➕ Add
                Flashcard</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="fav-flashcards">⭐ Favorite</a></li>
            <li><a class="dropdown-item" routerLink="my-flashcards">📚 My Flashcards</a></li>
      
          </ul>
        </div>
      
      </ul>
      
      <div class="d-flex gap-3">
        <button class="btn btn-theme-toggle" (click)="toggleTheme()">
          {{ isLightTheme ? '🌞 Light Theme' : '🌙 Dark Theme' }}
        </button>

        
      
        <a href="#" class="btn btn-outline-primary rounded-circle" data-bs-toggle="modal" data-bs-target="#loginModal">
          <i class="fas fa-user"></i>
        </a>
      </div>

    </div>

  </div>
</nav>
 

<div class="content">
  <router-outlet></router-outlet>
  <app-add-flashcard-modal></app-add-flashcard-modal>
</div>
</div>


